.container {
    @apply
    border-t
    border-t-gray-300
    dark:border-t-gray-800
    py-1
    px-3
    flex
    flex-col
    space-y-2
    sm:space-y-0
    sm:flex-row
    justify-between
    items-center
    text-sm
}